{{#link-to "home" class="tab"}}
  <img src="/icons/home.svg">
  Explore
{{/link-to}}


{{#link-to "search" class="tab"}}
  <img src="/icons/search.svg">
  Search
{{/link-to}}


<a class="tab" target="_blank" href="https://github.com/jdaviderb/JFrogfy">
  <img src="/icons/about.svg">
  About
</a>
