<div class="spotify-content color-purple">

  <div class="section">
    {{sp-artist
      name=model.title
      description=model.description
      image=model.image
    }}
  </div>

  <div class="section scrollable">
    {{#each model.tracks as |track|}}
      {{sp-song
        onClick=(action play track model.tracks)
        song=track.name
        artist=track.artist
      }}
    {{/each}}
  </div>
</div>
