.sp-current-music-bar {
  display: flex;
  flex-direction: row;
  background-color: #222327;
  border-bottom: solid 1px rgba(0,0,0, .5);
  padding: 0.5em;
  align-items: center;

  .toggle {
    img {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }
  }

  .toggle {
    cursor: pointer;
    &:hover {
      opacity: .5;
    }
  }

  .play {
    display: flex;
    flex-direction: row;
    color: rgb(145, 145, 145);
    cursor: pointer;

    > * {
      // margin-left: .2em;
    }
  }

  .music {
    flex: 1;
    text-align: center;
    color: white;

    .artist {
      color: rgb(145, 145, 145);
    }
  }
}
